<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="MRPIX_CLOUDPRINT_USERNAME" value="your-username@example.com"/>
        <env name="MRPIX_CLOUDPRINT_PASSWORD" value="yourSecretPassword"/>
    </php>
</phpunit>